    body, html {
     height: 100%!important;
     -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;      /* Firefox */
 
}
::-webkit-scrollbar { 
    display: none; 
}


.parallax {
  /* The image used */
  background-image: url('../images/img_parallax.jpg');
opacity: 0.65;
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-color{
    background-color: rgba(0, 0, 0, 0.377);
}
#logo{
    height:100px;
    width:80px;
    margin-top:-4px;
}
.navbar-brand{
    margin-left:4em;
}
.nav-item {
	padding-left: 1em;
	font-size:1.2em;
}

#navbarCollapse{
    margin-right:4em;
}
.nav-link{
    color:#f58634!important;
}


/*           Nav bar ------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
}


/* marcacao para container ajustar o slide ao clicar no menu, só ficar certo assim */
.container {
    padding-left: 5%;
    padding-right: 5%;
}

.container-fluid {
    padding-left: 8%;
    padding-right: 8%;
}





/* animacao criada para dar efeito fade em cada slide */
.animate-in-up {
    transition: all 1.3s ease-out;
    position: relative;
    opacity: 1;
    bottom: 0px;
}

.animate-in-up.out-of-viewport {
    bottom: 40px;
    opacity: 0;
}

.animate-in-down {
    transition: all 1.3s ease-out;
    position: relative;
    opacity: 1;
    top: 0px;
}

.animate-in-down.out-of-viewport {
    top: 40px;
    opacity: 0;
}

.animate-in-left {
    transition: all 1.0s ease-out;
    position: relative;
    opacity: 1;
    left: 0%;
}

.animate-in-left.out-of-viewport {
    opacity: 0;
    left: -5%;
}

.animate-in-right {
    transition: all 1.0s ease-out;
    position: relative;
    opacity: 1;
    left: 0%;
}

.animate-in-right.out-of-viewport {
    opacity: 0;
    left: 5%;
}




h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 140px;
}

h5 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
    color: #555;
    margin: 30px 0;
}

strong {
    font-weight: 600;
    color: #333;
}


.line {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    border-bottom: 1px dashed #ddd;
}




/* NAVBAR */
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white!important;
    margin: 0px;
    color: #333;
    transition: all 0.3s;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 1);
    box-shadow: 0px 0px 5px -1px rgba(171, 171, 171, 1);
}


/* NAVBAR - config do logotipo imagem e logo texto */
.navbar-brand {
    padding: 0px;
    font-size: 1.25rem;
    white-space: nowrap;
}
.navbar-brand>img {
    height: auto;
    display: block;
    padding: 0px;
    width: 16%;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}


/* tags para mudanças ao descer scroll com jquery para mudar cores */
.navbar.compressed {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #002a5c!important;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* .navbar-brand.changecolorlogo {
    /* height: auto; 
     filter: brightness(0) invert(1); 
} */

.navbar-nav.changecolormenu a,
.navbar-nav.changecolormenu a.active {
    color: white !important;
}

.navbar-nav.changecolormenu li a:hover,
.navbar-nav.changecolormenu li.active a {
    color: #ff9326 !important;
    background-color: transparent!important;
}




/* NAVBAR - links do menu */
.navbar-nav a,
.navbar-nav a.active {
    color: #00224b !important;
    background-color: transparent!important;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #f4511e !important;
    background-color: white!important;
    font-weight: 600;
    width: 100%;
}


/* NAVBAR - toggle button */
.navbar-light .navbar-toggle {
    border: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    
    background-color: dodgerblue!important;
    color: white;
    
/*     
    background-color: transparent;
    color: darkgrey;
    */
    
    cursor: pointer;

    -moz-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.navbar-light .navbar-toggle:hover {
    background-color: #f6761c!important;
    border-radius: 40px 0px 40px 40px;
    color: white;
}




@media only screen and (min-width: 0px) and (max-width: 480px) {    
    /* hack para resolver logo no centro em mobile */
    .navbar-brand {
        margin-left: 27%;
    }
    .navbar-brand > img {
        width: 70%;
        margin-top: -60px;
    }
        
    .navbar-nav.changecolormenu a,
    .navbar-nav.changecolormenu a.active {
        color: white !important;
        width: 10%;
    }

    .navbar-nav.changecolormenu li a:hover,
    .navbar-nav.changecolormenu li.active a {
        color: white !important;
        border-radius: 30px;
        background-color: #f6761c;
    }
}

@media (max-width: 768px) { 

}

/* ==== como funciona ===*/
.msr_flow03 {
  color: #000000;
  list-style: none;
  overflow: hidden;
}
.msr_flow03 li {
  background-color: #F8F8F8;
  color: #1B73BA;
  float: left;
  font-size: 13px;
  display: block;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  min-width: 100px;
  padding: 0 10px 0 40px;
}
.msr_flow03 li:first-child {
  padding-left: 10px;
}

/* 三角形下部 */
.msr_flow03 li::after {
  background-color: #F8F8F8;
  box-shadow: 2px 0 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 0 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 0 0px rgba(0,0,0,0.2);
  content: " ";
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: -30px;
  margin-top: -30px;
  position: relative;
  transform: skew(-30deg);
  -o-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  width: 30px;
}

/* 三角形上部 */
.msr_flow03 li::before {
  background-color: #F8F8F8;
  box-shadow: 2px 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 0 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,0.2);
  content: " ";
  display: block;
  float: right;
  height: 30px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: -30px;
  transform: skew(30deg);
  -o-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  width: 30px;
}

/* 右端の設定 */
.msr_flow03 .active {
  background-color: #1B73BA;
  color: #FFFFFF;
}
.msr_flow03 .active::before, .msr_flow03 .active::after {
  background-color: #1B73BA;
}

.step{
  list-style-type: none;
  display:table;
  width:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}
.step li{
  display:table-cell;
  position:relative;
  background: #fff;
  padding: 1em 0.5em 1em 2em;
  color: #113063;
  border: 2px solid #113063;
}
.step li:last-child{
  padding-right: 1em;
}
.step li:last-child:before,
.step li:last-child:after{
  display:none;
}
.step li:before,
.step li:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
.step li:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li:after{
  top:-15px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent #113063;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li.is-current{
  background: #9bbb30;
  font-weight: bold;
}
.step li.is-current:after{
  border-color: transparent transparent transparent #9bbb30;
}
 
.step li span:before,
.step li span:after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  with: 0;
  height: 0;
  border-style: solid;
}
.step li span:before {
  left: 0;
  border-color: transparent transparent transparent #fff;
  border-width: 30px 0 30px 1em;
}


/* ==== section ===*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.section-box {
  display: flex;
  height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .8s ease;
}

.section .content {
  z-index: 2;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.270);
}

#marketing {
  background-image: url(https://images.unsplash.com/photo-1522205987242-8e22924ab42a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0f679eb8f15705d46ea90008f39642b&auto=format&fit=crop&w=500&q=60);
}


#technology {
  background-image: url(https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe6b92f88f55824e64a1bae15f5bf52a&auto=format&fit=crop&w=500&q=60);
}

#advertising {
  background-image: url(https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=353f3663a9fae75773d2942aeb37c2c8&auto=format&fit=crop&w=500&q=60);
}